body {
    background-color: #FFFFFF;
}

textarea {
    width: 50%;
    height: 100%;
}
.container_top {
    display: grid;
    background-color:  #00ABE4;
    padding: 1px;
    column-gap: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    display: grid;
    background-color: #E9F1FA;
    padding: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container > div {
    border: 0px solid black;
    background-color: #E9F1FA;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}